.single-product .img-wrapper .product-img,
.single-product-list-view .img-wrapper .product-img {
  width: 100%;
  height: 141px;
  object-fit: contain;
}
.single-product .add-to-cart,
.single-product-list-view .add-to-cart {
  top: 71%;
}
.single-product .add-cart,
.single-product-list-view .add-cart,
.single-product .compare,
.single-product-list-view .compare,
.single-product .details,
.single-product-list-view .details {
  padding: 5px;
}
.single-product .price-wrapper h6,
.single-product-list-view .price-wrapper h6,
.single-product .price-wrapper h4,
.single-product-list-view .price-wrapper h4 {
  font-size: 17px;
  color: #1bb9cb;
}
.single-product:hover .product-img,
.single-product-list-view:hover .product-img {
  transform: scale(1);
}
.single-product .product-title,
.single-product-list-view .product-title {
  font-size: 15px;
}
.gs-single-cat .cate-img {
  object-fit: contain;
}
@media (max-width: 768px) {
  .gs-hero-section {
    height: 130px;
  }
  .main-content {
    margin-top: 125px;
  }
  .hero-slider-wrapper .slick-dots {
    bottom: -12px;
  }
  .hero-slider-wrapper .slick-dots li button {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .single-product .img-wrapper .add-to-wishlist-btn, .single-product-list-view .img-wrapper .add-to-wishlist-btn {
   display: none;
}
}
