.single-product .img-wrapper .product-img,
.single-product-list-view .img-wrapper .product-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.single-product .add-to-cart,
.single-product-list-view .add-to-cart {
  top: 71%;
}
.single-product .add-cart,
.single-product-list-view .add-cart,
.single-product .compare,
.single-product-list-view .compare,
.single-product .details,
.single-product-list-view .details {
  padding: 5px;
}
.single-product .price-wrapper h6,
.single-product-list-view .price-wrapper h6,
.single-product .price-wrapper h4,
.single-product-list-view .price-wrapper h4 {
  font-size: 16px;
  color: #1bb9cb;
}
.single-product:hover .product-img,
.single-product-list-view:hover .product-img {
  transform: scale(1);
}
.single-product .product-title,
.single-product-list-view .product-title {
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #1a1a1a;
}

.gs-single-cat .cate-img {
  object-fit: contain;
}
@media (max-width: 768px) {
  .gs-hero-section {
    height: 130px;
  }
  .main-content {
    margin-top: 125px;
  }
  .hero-slider-wrapper .slick-dots {
    bottom: -12px;
  }
  .hero-slider-wrapper .slick-dots li button {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .single-product .img-wrapper .add-to-wishlist-btn,
  .single-product-list-view .img-wrapper .add-to-wishlist-btn {
    display: none;
  }
}

.single-product .content-wrapper,
.single-product-list-view .content-wrapper {
  height: 123px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 14px 13px !important;
}
.single-product .content-wrapper,
.single-product-list-view .content-wrapper {
  height: 160px;
}
.add-cart-btn.btn-info {
  background: #1bb9cb;
  color: #fff;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: #fff !important;
  background-color: #1bb9cb !important;
  border-color: #1bb9cb !important;
}
.single-product {
  transition: all 0.3s ease-in-out;
  height: auto;
}
.outofstock-box {
  border-radius: 10px 10px 0 0;
}
.outofstock-box-2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.single-product:hover .outofstock-box-2 {
  visibility: visible;
  opacity: 1;
}
.single-product .img-wrapper .product-badge,
.single-product-list-view .img-wrapper .product-badge {
  left: 0;
  top: 0;
}
.qty-box {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  background: #1bb9cb;
  border-radius: 8px;
  overflow: hidden;
  width: fit-content;
  width: 100%;
}
.qty-box .qty-btn {
  width: 45px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.qty-box .qty-btn i {
  font-size: 13px;
}

.qty-box .qty-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
@media (min-width: 1200px) {
  /* .col-xl-2 {
    flex: 0 0 auto;
    width: 20%;
  } */
  .gs-explore-product-section > .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
}
.gs-explore-product-section .explore-tab-navbar li .nav-link {
  color: #030712;
  font-family: "Saira", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.img-wrapper a {
  display: inline-block;
  height: 180px;
}
.single-product .img-wrapper,
.single-product-list-view .img-wrapper {
  height: 170px;
}

.single-product:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.gs-single-cat:hover .title {
  color: #fff;
}
.gs-product-details-gallery-wrapper .product-main-slider .main-img{
  max-width: 100%;
  object-fit: contain;
}
.home-cate-slider .slick-slide {
  margin: 0 10px; /* total gap = 20px */
}

.home-cate-slider .slick-list {
  margin: 0 -10px;
}
